header{
  color: red;

}
body{
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 50fr;
    padding: 70px 70px 70px 24px;
    background-color: #F5CF06;

}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
header{

}

.logo{
     display: flex;
     align-items: center;
     gap: 24px;
     font-family: 'Righteous', cursive;
}
.logo__text{
    font-size: 32px;
    font-weight: 100;

}
main{
    background-color: plum;
}
footer{
    background-color: turquoise;
}
